/*TITLE*/
h1 {
   font: 5em "Monsieur La Doulaise", cursive;
   color:#E695A2;
   margin-bottom:-25px;
}
/*AUTHOR*/
h2 {
   font:'Lavishly Yours', cursive;"
}
/*POEM*/
body {
   font-family:cambria, cochin, georgia, times, 'times new roman', serif;
   font-size: 1.2em;
   text-align:center;
   background:
  linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("butterfly.jpeg");
   padding:20px;
   background-size:cover;
   background-position: center;
   background-repeat:no-repeat;
   line-height:1.1;
   margin:0;
}
.poem {
   width:100%;
   max-width: 700px;
   margin:auto;
   padding:20px;
}
/*QUOTE*/
.quote {
   font-family: 'Lavishly Yours', cursive;
   font-size: 2.5em;
   margin:40px;
   background:#E695A2;
border-radius: 30px;
color:whitesmoke;
   line-height: 1.4;
}
img {
   width:420px;
   height:550px;
   display:block;
   margin:auto;
   border-radius:200px;
}
/*FOOTER*/
.footer1 {
   font-family: 'Hurricane', cursive;
   font-size: 2em;
   padding:1px;
   margin:10px;

}
/* LINK */
a {
   padding:30px;
   font-family: 'cambria', 'cochin', 'georgia', 'times', 'times new roman', serif;
   color:pink;
}
a:visited {
   color:palevioletred;
}
a:hover {
   color:white;
}
/* SECOND FOOTER */
.footer2 {
   font-family: cambria, cochin, georgia, times, 'times new roman', serif;
   font-size: 18px;
   padding:20px;
   margin:auto;
}